# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
imx-iotcore/build/solution/iMXPlatform/.vs/
imx-iotcore/build/solution/iMXPlatform/Build/
*.tlog
*.log
imx-iotcore/BSP/
**/Debug/
**/Release/
**/mount
**/winpe_imx
*.user
*.pdb
imx-iotcore/build/solution/iMXPlatform/GenerateTestFFU/fmlog.txt
imx-iotcore/driver/**/**/ARM/
imx-iotcore/driver/**/**/ARM64/
imx-iotcore/build/tools/diskpart.txt
imx-iotcore/build/board/EVK_iMX6UL_512MB/MergedFMs/EVK_iMX6UL_512MB_DeviceFM.xml
imx-iotcore/build/board/NXPEVK_iMX8M_4GB/MergedFMs/NXPEVK_iMX8M_4GB_DeviceFM.xml
